.button {
    margin: 0 3px;
    margin-top: 15px;
    width: 130px;
}

.btn_delete {
    width: 40px;
    color: rgb(226, 205, 43);
    font-size: 40px;
}

.btn_delete:hover {
    background-color: rgba(255, 98, 7, 0.927);
    transition: 4.s;
    border: 10px;
}

.btn_atualizar {
    width: 40px;
    color: rgb(95, 43, 226);
    font-size: 40px;
}

.btn_atualizar:hover {
    background-color: rgba(227, 103, 1, 0.927);
    transition: 4.s;
}

h1 {
    align-items: flex-end;
    display: flex;
    margin-left: 15%;

}