.button {
    margin-left: 15%;
    width: 130px;
   
}

.btn_delete {
    width: 40px;
    color:#696969;
    margin-left: 18%;
    font-size: 40px;
}

.btn_delete:hover {
    background-color: rgba(191, 34, 34, 0.927);
    transition: 4.s;
}

.btn_atualizar {
    width: 40px;
    color:#696969;
    font-size: 40px;
    margin-left: 38%;
}

.btn_atualizar:hover {
    background-color: rgba(245, 220, 110, 0.922);
    transition: 4.s;
}

h1 {
    align-items: flex-end;
    display: flex;
    margin-left: 15%;

}