.btn_delete {
    width: 30px;
    color: #f00909;
    margin-left: 18%;
    font-size: 40px;
}

.btn_delete:hover {
    background-color: rgba(52, 230, 55, 0.783);
    transition: 1.s;
}

.btn_atualizar {
    width: 30px;
    color: #240fc6;
    font-size: 40px;
    margin-left: 38%;
}

.btn_atualizar:hover {
    background-color: rgba(245, 220, 110, 0.922);
    transition: 1.s;
}

.container {
    border: 1px solid rgb(0, 0, 0);
    padding: 7px;
    border-radius: 5px;
    margin: 10px;
}

* h2 {
margin-left: 160px;
color: rgb(0, 0, 0);
}
